@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --primary-color: #171a1f;
  --primary-color-2: #191c22;
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #446fe1;
  --dark-color: #2f343e;
  --gray-color: #96a2b4;
}

/* text */

.primary-text {
  color: var(--primary-color) !important;
}

.primary-text-2 {
  color: var(--primary-color-2) !important;
}

.white-text {
  color: var(--white-color) !important;
}

.black-text {
  color: var(--black-color) !important;
}

.blue-text {
  color: var(--blue-color) !important;
}

.dark-text {
  color: var(--dark-color) !important;
}

.gray-text {
  color: var(--gray-color) !important;
}

/* background */

.primary-bg {
  background-color: var(--primary-color) !important;
}

.primary-bg-2 {
  background-color: var(--primary-color-2) !important;
}

.white-bg {
  background-color: var(--white-color) !important;
}

.black-bg {
  background-color: var(--black-color) !important;
}

.blue-bg {
  background-color: var(--blue-color) !important;
}

.dark-bg {
  background-color: var(--dark-color) !important;
}

.gray-bg {
  background-color: var(--gray-color) !important;
}

.transparent-bg {
  background-color: transparent !important;
}

/* font size */

.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-13 {
  font-size: 13px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-17 {
  font-size: 17px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-19 {
  font-size: 19px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-21 {
  font-size: 21px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-23 {
  font-size: 23px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-30 {
  font-size: 30px !important;
}

/* font weight */

.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}

.row {
  margin: 0 !important;
}

/* radius */

.radius-3 {
  border-radius: 3px !important;
}
.radius-4 {
  border-radius: 4px !important;
}
.radius-5 {
  border-radius: 5px !important;
}
.radius-6 {
  border-radius: 6px !important;
}
.radius-7 {
  border-radius: 7px !important;
}
.radius-8 {
  border-radius: 8px !important;
}
.radius-9 {
  border-radius: 9px !important;
}
.radius-10 {
  border-radius: 10px !important;
}

.radius-15 {
  border-radius: 15px !important;
}

.radius-20 {
  border-radius: 20px !important;
}

.radius-25 {
  border-radius: 25px !important;
}

.radius-30 {
  border-radius: 30px !important;
}

/* --------------------------------------------------------------------------------------- */
/* ------------------------------------------Avatar css --------------------------------------- */
/* --------------------------------------------------------------------------------------- */

.avatar-xxs {
  height: 1rem;
  width: 1rem;
}

.avatar-xs {
  height: 2rem;
  width: 2rem;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  height: 4.5rem;
  width: 4.5rem;
}

.avatar-lg {
  height: 6rem;
  width: 6rem;
}

.avatar-xl {
  height: 7.5rem;
  width: 7.5rem;
}

/* --------------------------------------------------------------------------------------- */
/* ------------------------------------------common css --------------------------------------- */
/* --------------------------------------------------------------------------------------- */

.li-remove {
  list-style: none;
}

.underline-remove {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase !important;
}

.lowercase {
  text-transform: lowercase !important;
}

.radio-input {
  accent-color: var(--blue) !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

/* --------------------------------------------------------------------------------------- */
/* ------------------------------------------scroll bar hide --------------------------------------- */
/* --------------------------------------------------------------------------------------- */

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.career-lottie-id {
  width: 100% !important;
  height: 100% !important;
  z-index: 0 !important;
}
